@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<body>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            <h3>Here is a cool music video!</h3>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/lzM8kx5jCZw" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
        </p>

        <p>
            <button onclick="move()">Click me!!</button>
        </p>
        <div id="container">
            <div id="animate"></div>
        </div>
        
    </div>

</body>
